:root{
    --primary-light: #FEDCBA;
    --primary: #FDBF78;
    --primary-dark: #FCA564;


    --white: #ffffff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #CACACA;
    --grey-dark: #838383;
}