<app-default-login-layout
  title="Login"
  primaryBtnText="Login Now"
  secundaryBtnText="SignUp"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">
    <div class="inputs">
      <app-primary-input inputType="email" placeholder="Email">
        <img src="assets/email.svg" width="29" height="29" />
      </app-primary-input>
      <app-primary-input
        [inputType]="hidePassword ? 'password' : 'text'"
        placeholder="Password"
      >
        <img
          (click)="hidePassword = !hidePassword"
          src="assets/eye.svg"
          width="29"
          height="29"
        />
      </app-primary-input>
      <span>FORGOT YOUR PASSWORD?</span>
    </div>
  </form>
</app-default-login-layout>
