<main>
  <section class="login-section">
    <h2>Login</h2>

    <div class="inputs">
      <input type="email" placeholder="Email" />
      <!-- insert icon for email input -->

      <input type="password" placeholder="Password" />
      <!-- <img src="assets/eye.svg" width="18" height="18"/> -->
      <!-- insert icon for password input -->

    </div>
    <span>FORGOT YOUR PASSWORD?</span>

    <div class="bottons">
      <button>LOGIN</button>
      <button>SIGN UP</button>
    </div>
  </section>

  <section class="main-section">
    <h1>Dont Forget it!</h1>
  </section>
</main>
