<app-default-login-layout
  title="Login"
  primaryBtnText="Login Now"
  secundaryBtnText="SignUp"
>
  <form [formGroup]="loginForm">
    <div class="inputs">
      <input type="email" placeholder="Email" />
      <!-- insert icon for email input -->
      <input type="password" placeholder="Password" />
      <img src="assets/eye.svg" width="18" height="18" />
      <!-- insert icon for password input -->
      <span>FORGOT YOUR PASSWORD?</span>
    </div>
  </form>
</app-default-login-layout>
