.input-around {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 26px;
    margin: 10px 0;
    color: var(--primary);
    font-weight: 700;
  }

  .input-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    input {
      width: 100%;
      padding-left: 15px;
      background: none;
      border: none;
      border-bottom: 1px solid var(--grey-dark);
      color: var(--grey);
      font-size: 24px;
      
      &::placeholder{
        color: var(--grey);
      }

      &:-webkit-autofill {
        -webkit-text-fill-color: var(--grey);
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    .icon {
      cursor: pointer;
      margin: 0 10px;
    }
  }
}
